h1 {
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: 700;
    color: red;
    background-color: #000000;
    width: 90%;
    border-radius: 8 px;
    padding: 10px 20px;
}

p {
    font-family: 'EB Garamond', 'Segoe UI Symbol', serif;
    font-size: 26px;
    line-height: 1.6;
    color: #FFFFFF; 
    margin-bottom: 16;
    padding: 0;
    text-align: justify;
}

h2 {
    font-size: 36px;
    color: #eaa221;
}

html, body {
    font-family: 'Segoe UI Symbol', serif;
    height: 100%;
    margin: 0;
    cursor: url('./imagescursor.png'), auto;
    background-image: url('./images/Marble.jpg')
}

body {
    cursor: url('./imagescursor.png'), auto;
    display: block;
    min-height: 100vh;
    position: relative;
}

footer {
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #000000;
    color: #FFFFFF;
}

a {
    cursor: url('./images/tpointer_click.png'), auto;
}

.section {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #000000;
    color: #FFFFFF;

.left, 
.right {
    flex: 1;
    box-sizing: border-box;
}

.left {
    padding: 20px 20px 20px 20px;
}

.right {
    padding: 120px 20px 20px 20px;
}

.right img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.right table {
    width: 100%;
    border-collapse: collapse;
}

.right table th, 
.right table td {
    padding: 10px;
    text-align: center;
    border: 1px solid #FFFFFF;
}

.right table thead tr {
    background-color: #333333;
    color: #FFFFFF;
}

.sectionc {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #000000;
    color: #FFFFFF;
}

.containerf {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #000000;
    color: #FFFFFF;
    box-sizing: border-box;

.lt,
.md,
.rt {
    flex: 1;
    box-sizing: border-box;
    margin: 10px;
}

.lt p,
.md p,
.rt p {
    max-width: 100%;
    font-size: 10px;
    margin: 0;
}

@media (max-width: 768px) {
    .lt,
    .md,
    .rt {
        flex: 1 1 100%;
    }
}

.no-bullets {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#map {
    max-width: 100%;
    border: 10px solid #FFFFFF;
}
